* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* margin-left: 100px; */
}

.head {
  background-image: url(HeroImage.png);
  width: 1440px;
  height: 773px;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 118px;
  padding-right: 118px;
  height: 100px;
  width: 1440px;
  align-items: center;
}
.home {
  display: flex;
  gap: 24px;
  list-style: none;
  color: white;
}
.pure {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 617.9999631643295;
  height: 393.99997651576996;
  opacity: 1;
  top: 169px;
  left: 411px;
}
.loc {
  margin: 0 auto;
  background-image: url(loc.png);
  width: 1440px;
  height: 773px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.terkh {
  display: flex;
  width: 276px;
  height: 370px;
  border-radius: 40px;
  opacity: 1;
  /* top: 65px;
  left: 109.02px; */
  flex-direction: column;
  padding: 10px;
  box-shadow: 8px 8px 0px 0px #29728b40;
  box-shadow: -8px -8px 0px 0px #1f72aa75;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  /* padding: 40px; */
  position: relative;
  gap: 40gitpx;
  padding-right: 200px;
}
/* .overlay {
  height: 1000px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 276px;
  border-radius: 40px;
} */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* fills the parent */
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 40px;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.6);
  /* background-size: cover; */
}
.pureJ {
  width: 617.9999631643295;
  height: 79.99999523162842;
  opacity: 1;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  text-transform: uppercase;
  color: #e8edf2b8;
}

.aw {
  width: 617.9999631643295;
  height: 249.9999850988388;
  border-width: 2px;
  opacity: 1;
  font-weight: 400;
  font-style: normal;
  font-size: 250px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #fdfdfefa;
}
.too {
  width: 143.99999141693115;
  height: 63.999996185302734;
  opacity: 1;
  font-weight: 900;
  font-style: Black;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  background: #ffffffcc;
}
.road {
  margin: 0 auto;
  background-image: url(road.png);
  width: 1440px;
  display: flex;
  height: 1022px;
  opacity: 1;
  gap: 10px;
  background-position: left;
  flex-direction: column;
  padding-top: 120px;
}
.sukh {
  width: 513px;
  height: 112px;
  background-color: #eee9d9;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  /* position: relative; */
  /* justify-content: space-between; */
}
.des {
  width: 1442;
  height: 85;
  opacity: 1;
  top: 120px;
  left: -1px;
  gap: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.pro {
  width: 513;
  height: 640;
  opacity: 1;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding-top: 60px;
  padding-left: 160px;
  position: relative;
}
.amar {
  background-color: #8bb8c1;
  width: 513px;
  height: 112px;
  border-radius: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}
.kh {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  background-color: #aad8d7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}
.te {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  background-color: #8bc0bd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}
.kh1 {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  background-color: #97cce0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}
.foo {
  margin: 0 auto;
  background-image: url(footer.png);
  width: 1440px;
  height: 1120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}

.pack {
  display: flex;
  width: 1200px;
  gap: 24px;
  justify-content: center;
  align-items: stretch;
}

.pack1,
.pack2,
.pack3 {
  width: 327px;
  border-radius: 40px;
  background-color: #fafbfc;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 550px;
}
.pack1:hover,
.pack2:hover,
.pack3:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 1);
}
.mid-package {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  flex: 1;
}

.mid-package > p:first-of-type {
  font-size: 48px;
  /* font-weight: bold; */
  margin: 0;
}

.standard {
  font-size: 24px;
  /* font-weight: bold; */
  margin: 0;
}

.mid-package p {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin: 0;
  font-size: 14px;
}

.sel {
  background-color: #7ba8a8;
  color: black;
  padding: 16px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  margin-top: auto;
}

.sel:hover {
  background-color: black;
  color: white;
}

.balance {
  display: flex;
  align-items: center;
  gap: 12px;
}

.popular {
  background-color: #4a7c9e;
  color: black;
  padding: 4px 16px;
  border-radius: 20px;
  font-size: 14px;
  display: inline-block;
}

/* .terkh-hover {
  display: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2px;
  text-size-adjust: inherit;
} */
/* .terkh:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.7);
} */
.destination {
  width: 617.9999631643295;
  height: 393.99997651576996;
  color: white;
}
.terkhiin {
  background-image: url(1.png);
  /* cursor: pointer; */
  background-size: cover;
}
.amarbayas {
  background-image: url(2.png);
  background-size: cover;
}
.khuvsgul {
  background-image: url(3.png);
  background-size: cover;
}
.khorgo {
  background-image: url(4.png);
  background-size: cover;
}
.pro-overlay:hover .photo {
  border-radius: 120px;
  display: block;
  /* top: 40px;
  right: 20px; */
  transform: translateX(-50%);
}

.pro-overlay:hover {
  display: flex;
  border: white 4px solid;
}
.photo {
  position: absolute;
  display: none;
  top: 60px;
  right: 20px;
}
.day1 {
  border-radius: 50%;
  background-color: white;
  width: 52px;
  height: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.annoying {
  display: flex;
  justify-content: end;
  align-items: center;
  /* flex-direction: column; */
  padding-right: 20px;
}
.icontoi {
  display: flex;
  flex-direction: row;
}
.photo2 {
  position: absolute;
  display: none;
  top: 0px;
  left: 800px;
}
.pro-overlay:hover + .photo2 {
  border-radius: 120px;
  display: block;
  /* top: 110%;
  left: 50%;
  transform: translateX(-50%); */
}
.photo3 {
  position: absolute;
  display: none;
  top: 0px;
  right: 400px;
}
.pro-overlay:hover + .photo3 {
  border-radius: 120px;
  display: block;
  /* top: 200%;
  left: 120%;
  transform: translateX(-50%); */
}
.photo4 {
  position: absolute;
  display: none;
  top: 0px;
  left: 700px;
}
.pro-overlay:hover + .photo4 {
  border-radius: 120px;
  display: block;
  /* top: 110%;
  left: 50%;
  transform: translateX(-50%); */
}
.photo5 {
  position: absolute;
  display: none;
  top: 60px;
  left: 1000px;
}
.pro-overlay:hover + .photo5 {
  border-radius: 120px;
  display: block;
  /* top: 110%;
  left: 50%; */
  /* transform: translateX(-50%); */
}
.end {
  width: 1200px;
  height: 204px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.foot2 {
  display: flex;
  gap: 24px;
}
.social {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 167px;
  height: 44px;
  border-radius: 100px;
  gap: 10px;
}
